In [1]:
using JuliaDB, OnlineStats

In [2]:
srand(20130810)

MersenneTwister(UInt32[0x01332bfa], Base.dSFMT.DSFMT_state(Int32[-1772545288, 1073534108, 1077066014, 1072915095, -2146195133, 1072843413, 301764553, 1073404181, 750472136, 1073628106  …  -1491411563, 1073194977, 716119449, 1072893711, 1632331784, 758890923, 1433693833, -13012230, 382, 0]), [1.38986, 1.34047, 1.7386, 1.54643, 1.52937, 1.88903, 1.81436, 1.90836, 1.66731, 1.00123  …  1.17823, 1.58617, 1.7945, 1.5351, 1.27039, 1.16324, 1.27568, 1.00684, 1.60106, 1.96599], 382)

## Creating and indexing

In [3]:
t = table([1, 2, 3], [4, 5, 6], names = [:a, :b])

Table with 3 rows, 2 columns:
a  b
────
1  4
2  5
3  6

In [4]:
row = t[2]

(a = 2, b = 5)

In [5]:
row.a, row.b

(2, 5)

In [6]:
t[[1, 1, 2]]

Table with 3 rows, 2 columns:
a  b
────
1  4
1  4
2  5

In [7]:
b = table([2, 1, 2, 1], [2, 3, 1, 3], [4, 5, 6, 7], names = [:x, :y, :z], pkey = [:x, :y])

Table with 4 rows, 3 columns:
x  y  z
───────
1  3  5
1  3  7
2  1  6
2  2  4

In [8]:
select(b, 2)

4-element Array{Int64,1}:
 3
 3
 1
 2

In [9]:
select(b, (2, 1))

Table with 4 rows, 2 columns:
y  x
────
3  1
3  1
1  2
2  2

In [10]:
select(b, :y)

4-element Array{Int64,1}:
 3
 3
 1
 2

In [11]:
select(b, (:x, :y) => p -> p.x/p.y)

4-element Array{Float64,1}:
 0.333333
 0.333333
 2.0
 1.0

In [12]:
oscars = loadtable("oscars.csv")

Metadata for 1 / 1 files can be loaded from cache.

Table with 1631 rows, 62 columns:
Columns:
#   colname  type
───────────────────
1   No       Int64
2   Year     Int64
3   Comp     Int64
4   Name     String
5   PP       Int64
6   DD       Int64
7   MM       Int64
8   FF       Int64
9   Ch       Int64
10  Movie    String
11  Nom      Int64
12  Pic      Int64
13  Dir      Int64
14  Aml      Int64
15  Afl      Int64
16  Ams      Int64
17  Afs      Int64
18  Scr      Int64
19  Cin      Int64
20  Art      Int64
21  Cos      Int64
22  Sco      Int64
23  Son      Int64
24  Edi      Int64
25  Sou      Int64
26  For      Int64
27  Anf      Int64
28  Eff      Int64
29  Mak      Int64
30  Dan      Int64
31  AD       Int64
32  PrNl     Int64
33  PrWl     Int64
34  PrNs     Int64
35  PrWs     Int64
36  PrN      Int64
37  PrW      Int64
38  Gdr      Int64
39  Gmc      Int64
40  Gd       Int64
41  Gm1      Int64
42  Gm2      Int64
43  Gf1      Int64
44  Gf2      Int64
45  PGA      Int64
46  DGA      Int64
47  SAM      Int64
48  SAF      Int64
49  PN       Int64
50  PD       Int64
51  DN       Int64
52  DP       Int64
53  DPrN     Int64
54  DPrW     Int64
55  MN       Int64
56  MP       Int64
57  MPrN     Int64
58  MPrW     Int64
59  FN       Int64
60  FP       Int64
61  FPrN     Int64
62  FPrW     Int64

In [13]:
filter(x -> x == 2005, oscars; select = :Year)

Table with 20 rows, 62 columns:
Columns:
#   colname  type
───────────────────
1   No       Int64
2   Year     Int64
3   Comp     Int64
4   Name     String
5   PP       Int64
6   DD       Int64
7   MM       Int64
8   FF       Int64
9   Ch       Int64
10  Movie    String
11  Nom      Int64
12  Pic      Int64
13  Dir      Int64
14  Aml      Int64
15  Afl      Int64
16  Ams      Int64
17  Afs      Int64
18  Scr      Int64
19  Cin      Int64
20  Art      Int64
21  Cos      Int64
22  Sco      Int64
23  Son      Int64
24  Edi      Int64
25  Sou      Int64
26  For      Int64
27  Anf      Int64
28  Eff      Int64
29  Mak      Int64
30  Dan      Int64
31  AD       Int64
32  PrNl     Int64
33  PrWl     Int64
34  PrNs     Int64
35  PrWs     Int64
36  PrN      Int64
37  PrW      Int64
38  Gdr      Int64
39  Gmc      Int64
40  Gd       Int64
41  Gm1      Int64
42  Gm2      Int64
43  Gf1      Int64
44  Gf2      Int64
45  PGA      Int64
46  DGA      Int64
47  SAM      Int64
48  SAF      Int64
49  PN       Int64
50  PD       Int64
51  DN       Int64
52  DP       Int64
53  DPrN     Int64
54  DPrW     Int64
55  MN       Int64
56  MP       Int64
57  MPrN     Int64
58  MPrW     Int64
59  FN       Int64
60  FP       Int64
61  FPrN     Int64
62  FPrW     Int64