In [1]:
using JuliaDB, OnlineStats

In [2]:
srand(20130810)

MersenneTwister(UInt32[0x01332bfa], Base.dSFMT.DSFMT_state(Int32[-1772545288, 1073534108, 1077066014, 1072915095, -2146195133, 1072843413, 301764553, 1073404181, 750472136, 1073628106  …  -1491411563, 1073194977, 716119449, 1072893711, 1632331784, 758890923, 1433693833, -13012230, 382, 0]), [1.18607, 1.17261, 1.68785, 1.40093, 1.03512, 1.53161, 1.01635, 1.76822, 1.35029, 1.19552  …  1.26754, 1.50982, 1.20319, 1.24892, 1.18418, 1.65601, 1.16402, 1.75518, 1.37558, 1.15035], 382)

## Creating and indexing

In [3]:
t = table([1, 2, 3], [4, 5, 6], names = [:a, :b])

Table with 3 rows, 2 columns:
a  b
────
1  4
2  5
3  6

In [6]:
row = t[2]

(a = 2, b = 5)

In [8]:
row.a, row.b

(2, 5)

In [9]:
t[[1, 1, 2]]

Table with 3 rows, 2 columns:
a  b
────
1  4
1  4
2  5

In [10]:
b = table([2, 1, 2, 1], [2, 3, 1, 3], [4, 5, 6, 7], names = [:x, :y, :z], pkey = [:x, :y])

Table with 4 rows, 3 columns:
x  y  z
───────
1  3  5
1  3  7
2  1  6
2  2  4

In [14]:
select(b, 2)

4-element Array{Int64,1}:
 3
 3
 1
 2

In [16]:
select(b, (2, 1))

Table with 4 rows, 2 columns:
y  x
────
3  1
3  1
1  2
2  2

In [15]:
select(b, :y)

4-element Array{Int64,1}:
 3
 3
 1
 2

In [18]:
select(b, (:x, :y) => p -> p.x/p.y)

4-element Array{Float64,1}:
 0.333333
 0.333333
 2.0
 1.0